## Program : Checking whether certain IPs are in a specific IP list

This program checks if each cell of a certain column of a dataframe filled with IP addresses (strings) is in a specific IP list. Then, we create a new column that indicates whether each cell of that certain column is in the specific IP list with 'T' or 'F'.

This program assumes that a user has already typed in values for the three variables(set_of_ip, start_ip, end_ip). The following values stored in those three variables are examples values for testing.

In [1]:
% reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [2]:
import pandas as pd
from netaddr import *

### Case 1: List of IPs is comprised of few IPs that are not in a specific range. The user types in several IPs to make the IP list.

In [3]:
set_of_ip = '192.0.2.3, 192.0.2.15,192.0.2.30'

In [4]:
ip_lst1 = []

In [5]:
# 'Except' is for the situation where the user only makes the IP list using case2 shown below
try:
    for i in set_of_ip.split(','):
        ip_lst1.append(IPAddress(i.strip()))
except NameError:
    pass

In [6]:
ip_lst1

[IPAddress('192.0.2.3'), IPAddress('192.0.2.15'), IPAddress('192.0.2.30')]

### Case 2: List of IPs is a range of IPs. The user types in the start Ip and the end IP to create a IP range list

In [7]:
# 'Except' is for the situation where the user only makes the IP list using case1 shown above
start_ip = '192.0.2.250'
end_ip ='192.0.3.10'

try:
    if start_ip < end_ip:
        ip_lst2 = list(iter_iprange(start_ip, end_ip))
    else:
        ip_lst2 = list(iter_iprange(end_ip, start_ip))
except NameError:
    ip_lst2 = []

In [8]:
ip_lst2

[IPAddress('192.0.2.250'),
 IPAddress('192.0.2.251'),
 IPAddress('192.0.2.252'),
 IPAddress('192.0.2.253'),
 IPAddress('192.0.2.254'),
 IPAddress('192.0.2.255'),
 IPAddress('192.0.3.0'),
 IPAddress('192.0.3.1'),
 IPAddress('192.0.3.2'),
 IPAddress('192.0.3.3'),
 IPAddress('192.0.3.4'),
 IPAddress('192.0.3.5'),
 IPAddress('192.0.3.6'),
 IPAddress('192.0.3.7'),
 IPAddress('192.0.3.8'),
 IPAddress('192.0.3.9'),
 IPAddress('192.0.3.10')]

In [9]:
ip_total = set(ip_lst1 + ip_lst2)

In [10]:
ip_total

{IPAddress('192.0.2.3'),
 IPAddress('192.0.2.15'),
 IPAddress('192.0.2.30'),
 IPAddress('192.0.2.250'),
 IPAddress('192.0.2.251'),
 IPAddress('192.0.2.252'),
 IPAddress('192.0.2.253'),
 IPAddress('192.0.2.254'),
 IPAddress('192.0.2.255'),
 IPAddress('192.0.3.0'),
 IPAddress('192.0.3.1'),
 IPAddress('192.0.3.2'),
 IPAddress('192.0.3.3'),
 IPAddress('192.0.3.4'),
 IPAddress('192.0.3.5'),
 IPAddress('192.0.3.6'),
 IPAddress('192.0.3.7'),
 IPAddress('192.0.3.8'),
 IPAddress('192.0.3.9'),
 IPAddress('192.0.3.10')}

In [11]:
df = pd.DataFrame({'IP':['192.0.2.251', '192.0.3.5', '192.0.4.1']})

In [12]:
df

            IP
0  192.0.2.251
1    192.0.3.5
2    192.0.4.1

In [13]:
def ip_in_iplist_T_F(ip):
    if IPAddress(ip) in ip_total:
        return 'T'
    else:
        return 'F'

In [14]:
df['ip_in_iplist_T_F'] = \
df['IP'].map(ip_in_iplist_T_F)

In [15]:
df

            IP ip_in_iplist_T_F
0  192.0.2.251                T
1    192.0.3.5                T
2    192.0.4.1                F